.footer {
    background-color: #A4A0FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 4rem;
    width: fit-content;
}

.h3 {
    color: #FFFCF2;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 32px;
    margin-inline-start: 0.5rem;
}

.footer__img {
    margin-inline-start: 1rem;
}

.footer__div {
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div__logo {
    display: flex;
    align-items: center;
    margin-block-start: 2rem;
}

.div__address {
    color: #FFFCF2;
    font-size: 0.8rem;
    height: 1rem;
    width: 140px;
    margin-inline-start: 10.5rem;
    margin-inline-end: 1rem;
    margin-block-start: 1rem;
}
