.button__link {
    text-decoration: none;
    list-style: none;
}

.button {
    background-color: #A4A0FF;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #FFFCF2;
}
